<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>PROMS_PREMS</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description>The default servlet for the project</description>
		<display-name>DefaultServlet</display-name>
		<servlet-name>DefaultServlet</servlet-name>
		<servlet-class>servlets.DefaultServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DefaultServlet</servlet-name>
		<url-pattern>/promsprems</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>Handles requests to the MVK SDK.</description>
		<display-name>MVKServlet</display-name>
		<servlet-name>MVKServlet</servlet-name>
		<servlet-class>servlets.MVKServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MVKServlet</servlet-name>
		<url-pattern>/MVKServlet</url-pattern>
	</servlet-mapping>
</web-app>